/*
COLORS
CC purple: #9D3968
CC blue: #00A3B4
CC grey: #666666
UXPin background: #EBEBEB
*/

/*add this to the beginning of every CSS doc to ensure box size is constrained to the size specified*/
*, *:after, *:before {
	-webkit-box-sizing: border-box; /*works for opera and chrome*/
	-moz-box-sizing:border-box; /*works for mozilla*/
	box-sizing: border-box;
}
/*add this to the beginning of every CSS doc to ensure box size is constrained to the size specified*/


html {
	background-color: #EBEBEB;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

p, a, li {
		font-size: 13px;
	}

/*body {
	width: 99%;
}*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', serif;
}

h1, h1 a {
	font-size: 26px;
	line-height: 30px;
	margin: 10px 0;
}

p {
	font-size: 15px;
	line-height: 20px;
}

a {
	color:#00A3B4;
	text-decoration: none;
	}      /* unvisited link */

a:visited {
	color:#00A3B4;
	}  /* visited link */

a:hover {
	color:#9D3968;
	}  /* mouse over link */

a:active {
	color:#9D3968;
	}  /* selected link */

img	{
	margin: 10px;
	float: left;
}

/*MEDIA QUERY end*/

/*RESOURCE begin*/

.resource .upvotes {
	width: 10%;
	float: left;
}

.resource h1 {
	float: left;
}

.container-1 img {
	background-color: cornsilk;
	border: 10px solid red;
	height: 50px;
	width: 50px;
	overflow: auto; /*a way for the container to see the floats contained within*/
}

.col-one {
	background-color: skyblue;
	border: 10px solid white;
	width: 5%;
	padding: 5px;
	float: left;
}

.col-two {
	background-color: lightgreen;
	border: 10px solid black;
	width: 95%;
	padding: 5px;
	float: right;
}


.col-one ul {
	float: left;
}

.upvote, .downvote {
	padding: 5px;
}

.resource p {
	margin: 10px;
	text-align: justify;
	width: 80%;
	float: left;
}

.resource-menu {
	padding: 10px 0 5px 0;
	margin: 10px;
	clear: both;
}

.resource-menu .col-one {
	width: 60%;
	padding: 5px;
}

.resource-menu .col-two {
	width:40%;
	padding: 5px;
}

.resource-menu .col-one li {
	padding: 0 10px 0 0;
	float: left;
}

.resource-menu .col-two li {
	padding: 0 10px 0 0;
	float: left;
}
/*RESOURCE end*/

hr {
	margin: 30px 0 0 0;
	clear: both;
}


/*COMMENT FILTERS begin*/
.filters {
	display: block;
	padding: 0 0 20px 0;
	margin: 0 10px;
}

/*.comment-filters {
	
}*/

.comment-filters li {
	padding: 0 10px 0 0;
	float: left;
}
/*COMMENT FILTERS end*/


/*UPVOTES begin*/
.upvotes {
	display: block;
	text-align: center;
	width: 10%;
	margin: 5px;
	float: left;
}

.upvote, .downvote {
	font-weight: bolder;
	padding: 10px;
}


.resource .upvotes {
	margin: 5px 0 0 5px;
}

/*UPVOTES end*/


/*DISCUSSION begin ----------------------------*/

/*.discussion {
	margin: 0 5% 5% 5%;
}*/

/*COMMENT BOX begin*/
.post-comment {
	width: 100%;
	margin: 20px 0 50px 10px;
	clear: both;
}

form {
	width: 80%;
	/*margin: 20px 0 50px 0;*/
}

form p {
	margin: 10px 0;
}

textarea {
	width: 75%;
	height: 20%;
	border: 1px solid #666666;
	display: block;
}

.button {
	background-color: #00A3B4;
	color: white;
	border: 1px solid #666666;
	border-radius: 10%;
	margin: 10px 0;
	cursor: pointer;
}
/*COMMENT BOX end*/

/*COMMENTS begin*/

.menu-top, .menu-bot {
	padding: 10px;
}


.col-two li {
	padding: 0 10px 0 0;
	float: left;
}

.col-two p {
	margin: 10px;
	/*clear: both;*/
}

.col-one, .col-two {
	height: 100%; 
	float: left;
}

/* 	[class*='col-'] {
height: 300px;
}  */



/*NEW COMMENT begin*/
.new-post {
	display: none;
}

/*.comments .edit {
	padding: 0 10px 0 0;
	float: left;
}*/
/*NEW COMMENT end*/
/*DISCUSSION end ----------------------------*/


/*MEDIA QUERY begin-----------------------------------------*/
@media (min-width: 400px) {
	html {
		font-size: 15px;
	}

	p, a, li {
		font-size: 15px;
	}

 	.resource img {
		height: 90px;
		width: 90px;
	}


}

